* {
    margin: 0;
    color: var(--text-color);
    font-family: 'Noto Sans KR', sans-serif;
}
.container {
    display: flex;
    flex-direction: column;
}
.hash_tag {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 15px;
}
.hash_item
{
    border: solid 2px rgb(230, 216, 29);
    border-radius: 12px;
    font-size: 15px;
    background-color: rgba(248, 248, 51, 0.856);
    padding: 4px 4px 5px 5px;
    gap: 10px; 
    box-shadow: 1px 1px  rgb(240, 235, 164);
    
}

.middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.gather{
    font-weight :bold;
    padding: 8px 8px 8px 8px;
    border: 3px solid var( --point-color);
    border-radius: 12px;
    background-color: rgb(228, 116, 116)
}
.gather:hover{
    cursor: pointer;
}

.card_list{
    display: flex;
    flex-wrap: wrap;
    gap: 27px;
    justify-content: center;
}

.card_item{
    border: 2px solid var(--point-color);
    width: 47%;      
    height: 17vh;    
    border-radius: 12px;
    padding: 10px 5px 10px 10px;
    background-color: var( --point-dim-color) ;
    box-shadow: 3px 3px  rgb(174, 212, 243);
    box-sizing: border-box;
}

.paging{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    font-size: 22px;
    
}

.title{
    font-weight: bold;
    font-size: 18px;
}

.when{
    margin-top: 2px;
    font-weight: 400px;
    font-size: 13px;
    color: rgb(141, 140, 139);
}
.party{
    margin-top: 39px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hha{
    display: flex;
    gap: 10px;
    
}
.number{
    border: 2px solid var( --point-color);
    border-radius: 12px;
    padding: 2px;
}


