.loading{
    display: inline-flex;
    width:200px;
  }
  .item{
      width:30px;
      height: 30px;
      background-color: rgb(247, 40, 4);
      border-radius: 50%;
      animation: loading 2s infinite;
  }
  @keyframes loading{
      50%{
          transform: scale(0.5);
          background-color: rgb(168, 98, 98);
      }
      100%{
          transform: scale(1);
          background-color: rgb(247, 40, 4);
      }
  }
  .item:nth-child(2){
      animation-delay: 0.2s;
  }
  .item:nth-child(3){
      animation-delay: 0.4s;
  }
  .item:nth-child(4){
      animation-delay: 0.6s;
  }
  .item:nth-child(5){
      animation-delay: 0.8s;
  }
  .item:nth-child(6){
      animation-delay: 1s;
  }