.field {

    padding: 0;
    position: relative;
    margin: 6px 0;
    width: 100%;
    &.error {
        input { border-color: indianred !important; }
        label { color: indianred !important; }
    }
    label {
        position: absolute;
        top: 50%;
        left: 20px;
        transform: translateY(-50%);
        transition: all .2s;
        small { font-size: 1em; display: none; }
        &.shrink {
            font-size: 12px;
            top: -12px;
            left: 8px;
            color: var(--point-color);
            small { display: inline; }
            span { display: none; }
        }
    }
    input {
        height: 60px;
        transition: all .2s;
        &.required {}
        &:focus { border-color: var(--point-color); }
    }

    .errorMessage {
        font-size: 12px;
        position: absolute;
        bottom: 8px;
        right: 8px;
        transition: all .2s;
        color: indianred;
        border: 2px solid indianred;
        background-color: rgb(255, 214, 214);
        padding: 4px 8px;
        border-radius: 20px;
    }
    
}