html {
  --point-color: rgb(28, 134, 255);
  --gray-border-color: #ececec;
}

* {
  font-family: 'Noto sans KR', sans-serif;
  font-weight: 400;
}

#root {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: stretch;
  width: 100vw;
  height: 100vh;
  background:rgb(123, 184, 255);
}

#root > #main_section {
  width: 500px;
  background: #FFF;
  display: flex;
  flex-direction: column;
}

#root > #main_section > .container {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
}

#root > #side_section {
  width: 500px;
}

.point {
  color: var(--point-color);
}