html {
  --header-height: 60px;
  /* 색 */
  --text-color: #333333;
  --text-dim-color: rgba(0,0,0,0.3);
  --point-color: rgb(28, 134, 255);
  --point-dim-color: rgb(202, 227, 255);
  --gray-border-color: #dedede;
}

* {
  font-family: 'Noto sans KR', sans-serif;
  font-weight: 400;
  color: inherit;
}

p, ul { margin: 0; padding: 0 }
ul { list-style: none; }

div, input, fieldset, select {
  border-color: var(--gray-border-color);
}

#root {
  display: flex;
  gap: 60px;
  justify-content: center;
  align-items: stretch;
  width: 100vw;
  height: 100vh;
  background:var(--point-dim-color);
}

#root > #main_section {
  width: 500px;
  background: #FFF;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 20px 0 #191E2333;
  position: relative;
}

#root > #main_section > .container {
  flex-grow: 1;
  overflow: hidden;
  padding: 0;
}

.p-20 {
  padding: 20px;
}

#root > #side_section {
  width: 400px;
  display: flex;
  flex-direction: column;
  -ms-flex-direction: column;
  justify-content: center;
}

.point { color: var(--point-color); }
.text-gray { color: var(--text-dim-color); }

/* border 관련 */
.border { border: 1px solid; }
.border-top { border-top: 1px solid; }
.border-left { border-left: 1px solid; }
.border-bottom { border-bottom: 1px solid; }
.border-right { border-right: 1px solid; }
.border-gray { border-color: var(--gray-border-color); }
.border-point { border-color: var(--point-color); }
.border-radius-0 { border-radius: 0; }
.border-radius-12 { border-radius: 12px; }
.border-radius-20 { border-radius: 20px; }

/* flex 관련 */
.flex-grow { flex-grow: 1; }
.gap-8 { gap: 8px; }
.gap-20 { gap: 20px; }

.pointer { cursor: pointer; }

.btn-none { border-color: transparent !important; }